%nav.navbar.navbar-light{style: :"background-color: #e3f2fd;" }
  %a.navbar-brand 登録済みタスク一覧

.table-responsive
  %h4.r-title-label{style: 'display: inline-block; margin-right: 20px; '}
  %table.table.table-striped.b-t.b-light
    %thead
      %tr
        %th タスクの名前
        %th 開始時間
        %th 終了時間
    %tbody
      %tr
        %td こk
        %td こ
        %td か
